.tab-menu {
  max-width: 100%;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tab-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(.tab--active) {
    filter: opacity(0.5);
  }
}

.circle {
  display: inline-flex;
  align-items: center;

  font: 12px/16px Inter;
  padding: 4px 12px;
  background: #787567;

  border-radius: 24px;
  color: #ffffff;
}
