* {
  font-family: Inter;
  font-size: 1rem;
  margin: 0rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 0rem;
  border-bottom: 0.0625rem solid #d4d1c5;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #1a1914;
}

header nav ul li img {
  width: 4rem;
  height: 4rem;
}

main {
  margin: 2.5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #1a1914;
  display: flex;
  justify-content: center;
  margin-top: 1.75rem;
}

footer img {
  width: 2.497rem;
  height: 2.116875rem;
  margin: 0.936875rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

.soyAryaStark {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.soyAryaStark article {
  max-width: 49.125rem;
}

.soyAryaStark article h1 {
  margin-bottom: 2rem;
}

.soyAryaStark article p {
  margin-bottom: 1.25rem;
}

.porCierto {
  max-width: 75rem;
  text-align: justify;
}

.porCierto h2 {
  margin-bottom: 1.5rem;
}

.porCierto ul li {
  margin-bottom: 1rem;
}

.porCierto ul li::marker {
  font-size: 0.3125rem;
}

.miLista h1 {
  align-self: right;
}

.inputNombre {
  width: 25rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  background-color: #f1f0ec;
  border: 0.0625rem solid #d4d1c5;
}

.miLista button {
  padding: 0.75rem 0.625rem;
  background-color: #393830;
  color: white;
  border-radius: 0.625rem;
}

.miLista ul {
  display: flex;
  gap: 1.25rem;
}

.miLista ul li {
  list-style: none;
}

.miLista ul li span {
  background-color: #787567;
  padding: 0.25rem;
  border-radius: 1rem;
}

@media (max-width: 78.125rem) {
  .soyAryaStark img {
    width: 22.5625rem;
    height: 25.8125rem;
  }
}

@media (min-width: 78.125rem) {
  .soyAryaStark img {
    width: 21.875rem;
    height: 25rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
}