.isDone {
  font-size: 2rem;
  padding: 1rem 4rem;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(0, 255, 170);
  margin: 1rem;
}

.not-Done {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgb(255, 39, 1);
  margin: 0.5rem;
}

.elementList {
  list-style: none;
}

.kill-list__input {
  display: flex;
  justify-content: space-between;

  background: #ffffff;
  padding: 14px 20px;

  &:has(input:checked) {
    color: #c5c1b2;
  }
}

.kill-list__item {
  border-radius: 12px;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
